:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #fafff9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/*Navbar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right {
    display: flex;
    align-items: center;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #412920;
    padding: 0 50px;
    margin: 50px 0;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .headshot{
    flex: 2;
}

.hero-section .headshot img {
    width: 350px;
    border-radius: 50%;

}

.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.projects-grip{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;

}
.project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 1px solid black;
    border-radius: 0rem;
    transition: 0.3s ease-in-out;
}

.project-card img{
    width: 20vw;
    border-radius: 1rem;
}
.project-card h3{
    font-size: 2rem;
    font-weight: 500;
}